/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
clear: both;
}


/******************************************
/* BASE STYLES
/*******************************************/

html{
  font-size: 65%;
  /*Color primary*/
    --strong-cyan: hsl(172, 67%, 45%);
    /*Neutral*/
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}


@media (max-width: 320px) {
  html {
    font-size: 50%;
  }
}

.container{
  display: flex;
}


header{
  margin-top: 10rem;
  margin-bottom: 5rem;
}

body{
  font-family: 'Space Mono', monospace;
  font-weight:700;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  background-color: var(--light-grayish-cyan);
}

main{
  background-color:white;
  display:flex;
  /* width:100%; */
  max-width:76rem;
  padding: 3rem;
  gap: 2rem;
  border-radius: 5px;
}

@media (max-width:500px){
  main {
    flex-direction: column;
  }
}

.amount h4, .total h4 {
  font-size:1.5rem;
  color:black;
}

.cyansection{
  background-color: var(--very-dark-cyan);
  padding:2rem;
  border-radius:5px;
  height:100%;
  COLOR:white;
}

.cyansection h4{
  font-size: 1.5rem;
  COLOR:var(--white)
}

.cyansection p{
  font-size: 1rem;
  COLOR:var(--light-grayish-cyan)
}

.amount{ 
  margin-bottom: 5rem;
  display: flex;
  GAP:10REM;
}

@media (max-width:500px) {
  .amount {
    justify-content: space-between;
  }
}

/* //FIX SIZE OF TOTAL PART */
.total{
  display:flex;
  justify-content: space-between;
  GAP:10REM;
  margin-bottom: 10rem;
}
/* change margin length for smaller devices */
@media (max-width:500px){
  .total{
    margin-bottom: 3rem; 
  }
}
.cyansection .total .val {
  flex-basis: 20%;
} 
 .cyansection .val {
    flex-basis: 50%;
} 


@media (max-width:500px) {
  .cyansection .val{
    flex-basis: 35%;
  }
}

.TipPercentage{
  margin: 4rem 0;
} 

/* h4 size when lower width */
@media (max-width:500px) {
  .TipPercentage h4{
    font-size: 1.5rem;
  }
}

.TipPercentage ul{
  list-style:none;
  display:grid;
  grid-template-columns: repeat(3, minmax(0, 10rem));
  grid-gap:20PX;  
  padding:0;
}

.TipPercentage li, .TipPercentage .custom {
  background-color:var(--very-dark-cyan);
  display:flex;
  justify-content:center;
  border-radius:3px;
  transition: all 0.5s;
}

.TipPercentage li:hover {
  background-color: var(--strong-cyan)
}

.TipPercentage li:active {
  background-color: var(--very-dark-cyan)
}

.TipPercentage li a{
  text-decoration:none;
  font-size:1.5rem;
  color:white;
  padding:1rem 4rem;
}

.TipPercentage .custom {
  background-color: var(--light-grayish-cyan);
    background:transparent;
    border-radius:3px;
} 

.TipPercentage .custom:hover {
  background-color: var(--strong-cyan);
}
.TipPercentage .custom:active{
  background-color: var(--light-grayish-cyan);
}

#custom{
  width: 55%;
  border:none;
  background:transparent;
  font-family:inherit;
  font-size:1.2rem;
  text-align:center;
  border-radius:3px;
}
#custom:focus-visible {
  outline: none;
}

.bill, .numofpeople, .TipPercentage{  
  font-size: 1.5REM;
  color: var(--dark-grayish-cyan)
}

@media (max-width: 500px){
  .bill, .numofpeople{
    font-size: 1.5rem;
  }
}

.moneysignimg{
  HEIGHT:2REM;
}

.containerforbill{
  background-color: var(--light-grayish-cyan);
  display:flex;
  align-items: center;
  padding: 0.5rem 2rem;
  border-radius: 5px;
}



/* blue border around bill of people */
.containerforbill:hover{
  border: solid var(--strong-cyan);
}

#numofpeopleinput , #priceinput{
  background-color: transparent;
  border: NONE;
  font-family: inherit;
  font-size:2.3rem;
  color: var(--very-dark-cyan);
  text-align: end;
}

#numofpeopleinput:focus-visible , #priceinput:focus-visible{
  outline:none;
}

#custom{
  color:var(--very-dark-cyan)
}


.button{
  background-color: hsl(172, 67%, 45%);
  width: 100%;
  padding:1rem;
  border:none;
  border-radius:5px;
  font-size: 1.4rem;
  font-family: inherit;
  transition: all 0.5s;
  color: var(--very-dark-cyan);
}

  .button:hover {
    background-color: var(--light-grayish-cyan);
  }
.button:active {
    background-color: var(--strong-cyan);
  }

/* //making the numbers into bold */

#valtip, #valtotal {   
  font-size:2.3rem;
  color: var(--strong-cyan)
}

.TipPercentage .custom {
  background-color: var(--light-grayish-cyan);
} 

.error {
  color:red;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  text-align: end;
} 

.off1 {
  display: none;
}

.off2 {
  display: none;
}


.attribution{
  margin-top:  18REM;
}